body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header-container {
    background-color: #311050;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #f0eded;
    font-family: fantasy;
    font-weight: bold;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  form {
    margin-top: 20px;
  }
  
  input, button {
    padding: 10px;
    margin-right: 10px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Media query for smaller screens */
  @media only screen and (max-width: 600px) {
    .header-container {
      padding: 10px;
    }
    h1 {
      font-size: 24px;
    }
    input, button {
      padding: 8px;
      margin-right: 5px;
    }
  }
  
  /* Media query for medium-sized screens */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Add specific styles for medium-sized screens as needed */
  }
  
  /* Media query for larger screens */
  @media only screen and (min-width: 1025px) {
    /* Add specific styles for larger screens as needed */
  }

  /* Add alternating row colors to the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #c9c1c1;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #d0b0b0;
  }
  
  /* Apply alternating background colors to table rows */
  tr:nth-child(even) {
    background-color: #e1dbd0;
  }
  
  tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  